<div class="main-head">
    <div class="title">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
        <span id="site-title" class="site-title"><a href="{% url 'universal_landing' %}" id="logo-anchor">
            <img id="logo" src="/static/regulations/img/markup-logo.png" />
            <span id="logo-text">Markup <span id="logo-text-redline">Redline</span>
            </span>

        </a></span>
        {% if meta.cfr_title_number %}
        <h2 class="reg-title"><a href="{% url 'regulation_landing_view' reg_part %}">{{ meta.cfr_title_number }} CFR Part {{ reg_part }} {% if meta.reg_letter %}(Regulation {{ meta.reg_letter }}){% endif %}</a></h2>
        {% endif %}
    </div> <!-- /reg-title -->
    <nav class="app-nav">
        <a href="#" class="mobile-nav-trigger">
             <span class="cf-icon cf-icon-menu"></span>
             <span class="icon-text">Mobile navigation</span>
        </a>
    </nav>
</div>